@charset "utf-8";
/* 경란 */
/* 섹션2 */
.section2 {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-tite {
  display: block;
  font-size: 36px;
  padding-bottom: 27px;
  font-weight: bold;
}
/* 카테고리 */
.tab-nav-wrapper {
  overflow: hidden;
  width: 674px;
  margin: 0 auto;
}
.tab-nav {
  display: flex;
  gap: 5px;
  padding: 0;
}
.tab-nav li {
  flex: none;
}
.tab-nav span {
  /* display: none; */
  padding-right: 36px;
}
.tab-nav a {
  display: block;
  padding: 11px 14px;
  border-radius: 50px;
  border: 1px solid #e8e8e8;
  color: #292929;
  text-decoration: none;
}
.tab-nav a:hover,
.tab-nav a.active {
  background-color: #1e6bf1;
  color: #fff;
  transition: all 0.3s;
}
/* 토글 전체 */
.right-toggle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 4px 0 14px;
  gap: 4px;
}
/* 토글기능 */
/* .area-list.active {
  color: #76bd42;
}
.toggle-bt1::after {
  content: "접기";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 10px;
  color: #76bd42;
  display: none;
}

.toggle-bt1.active::after {
  display: block;
  top: 0;
  left: 9px;
}
.toggle-bt1.active .toggle-bt-icon {
  background-position: 0 -6px;
} */
/* 토글1 */
.toggle-bt1 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  line-height: 19px;
  padding: 5px 16px;
}
.area-list {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 34px;
  right: 118px;
  transform: translateX(-50%);
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px 0 rgba(0 0 0 / 16%);
  padding-bottom: 7px;
  max-height: 202px;
  min-width: 97px;
  overflow-y: scroll;
  z-index: 99;
  border-radius: 10px;
}
.area-list.active {
  display: block;
}
.area-list:hover {
  cursor: pointer;
}
.area-list li:hover {
  color: #1e6bf1;
  cursor: pointer;
  background-color: #f1f3f7;
}
.area-list > li {
  position: relative;
  display: block;
  font-size: 15px;
  color: #666;
  white-space: nowrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 9px 0 1px;
}
.toggle-bt-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/kyungran/toggle-arrow2.png") no-repeat;
  background-position: 0px 0px;
  margin-left: 6px;
  vertical-align: 2px;
}
/* 토글2 */
.toggle-bt2 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  line-height: 19px;
  padding: 5px 16px;
}
.monthly-list {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 34px;
  right: 39.5px;
  transform: translateX(-50%);
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px 0 rgba(0 0 0 / 16%);
  padding-bottom: 7px;
  max-height: 202px;
  min-width: 86px;
  overflow-y: scroll;
  z-index: 99;
  border-radius: 10px;
}
.monthly-list.active {
  display: block;
}
.monthly-list:hover {
  cursor: pointer;
}
.monthly-list li:hover {
  color: #1e6bf1;
  cursor: pointer;
  background-color: #f1f3f7;
}
.monthly-list > li {
  position: relative;
  display: block;
  font-size: 15px;
  color: #666;
  white-space: nowrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 9px 0 1px;
}
/* 토글3 */
.toggle-bt3 {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  line-height: 19px;
  padding: 5px 14px;
}
.toggle-bt3:hover {
  background-color: #f3f8ff;
  transition: 0.1s;
}
.order-list {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 34px;
  right: -41px;
  transform: translateX(-50%);
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px 0 rgba(0 0 0 / 16%);
  padding-bottom: 7px;
  max-height: 202px;
  min-width: 81px;
  z-index: 99;
  border-radius: 10px;
}
.order-list.active {
  display: block;
}
.order-list:hover {
  cursor: pointer;
}
.order-list li:hover {
  color: #1e6bf1;
  cursor: pointer;
  background-color: #f1f3f7;
}
.order-list > li {
  position: relative;
  display: block;
  font-size: 15px;
  color: #666;
  white-space: nowrap;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 9px 0 1px;
}
/* 봉사모집 한줄 묶음 */
.list-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 43px;
  gap: 20px;
}
.img-box {
  position: relative;
  display: block;
  min-width: 100px;
  height: 100%;
  text-align: left;
}
.img-box > a {
  position: relative;
}
.img-box a::after {
  opacity: 1;
}
.img-box a:hover::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../images/kyungran/잔여\ 10명\ 모집\ 15명.png") no-repeat;
  bottom: 0;
  /* top: 55px; */
  top: 0px;
  left: 50%;
  width: 198px;
  transform: translateX(-50%);
  transition: all 0.2s;
}
.img-box > a > .img1 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
.img-box > a:hover .img1 {
  content: "";
  filter: brightness(0.4);
  transition: all 0.2s;
}
.img-box > a:hover span:nth-child(n + 3) {
  color: #3b3b3b;
  transition: all 0.2s;
}

.img-box > a > img {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 7px;
}
/* .img-box > a:hover img{
    filter: brightness(60%);
    transition:  all 0.2s ; 
} */
/* .img-box > a:hover .hart-icon {
  transform: translate(0, -10px) !important;
  transition: all 0.2s ease-out;
} */
/* .img-box > a:hover span {
  /* color:rgb(19, 74, 169) !important; */
/* color: rgb(156, 156, 156) !important; */
/* color:#0042b5 !important; */
/* 내용 */

.list-wrap > .img-box > a > span {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 8px 0 0px;
  letter-spacing: -0.6px;
  color: #1a1a1aa3;
  font-size: 15px;
}
.list-wrap > .img-box > a > span:nth-child(2) {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  color: #3b3b3b;
  font-size: 17px;
}
/* 찜하기 */
.img-box .hart-icon {
  position: absolute;
  bottom: -4px;
  right: 0;
  border: none;
  cursor: pointer;
  width: 39px;
  height: 35px;
  background: url("../images/kyungran/hart-icon_gray.svg") no-repeat center;
  z-index: 9;
}

.img-box .hart-icon.act {
  background: url("../images/kyungran/full-hart-icon.svg") no-repeat center;
  transition: 0.1s;
}
.pgn {
  position: relative;
  display: block;
  margin: auto;
}
.pgn > button {
  position: relative;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  padding: 15px 90px;
  line-height: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  background-color: #fff;
}
/* 섹션3 */
.section3 {
  position: relative;
  background-color: #f0f4ff;
}
.section3-inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: auto;
  max-width: 1300px;
  padding: 51px 0;
}
/* 커뮤니티 */
.section3 .CM-box {
  position: relative;
  text-align: left;
  padding: 15px 20px;
  width: 100%;
  min-width: 276px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
  border-radius: 10px;
}
.CM-box .CM span {
  font-size: 36px;
  font-weight: bold;
}
.CM-box .CM .plus-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 54px;
  height: 54px;
  border: none;
  outline: none;
  background: url("../images/kyungran/pluse-icon-set.png") no-repeat 0px 0px;
}
.CM-box .CM .plus-icon:hover {
  background: url("../images/kyungran/pluse-icon-set.png") no-repeat bottom;
}
.CM-box .CM li {
  font-size: 22px;
  line-height: 35px;
  padding-top: 21px;
  padding-left: 17px;
  color: #1a1a1aa3;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.CM-box .CM li:nth-child(2) {
  padding-top: 19px;
}

/* 자주 묻는 질문 */
.section3 .FAQ-box {
  position: relative;
  text-align: left;
  padding: 20px;
  width: 100%;
  min-width: 276px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
  border-radius: 10px;
  font-size: 22px;
}
.FAQ-box .FAQ span {
  font-size: 36px;
  font-weight: bold;
}
.FAQ-box .FAQ .plus-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 54px;
  height: 54px;
  border: none;
  outline: none;
  background: url("../images/kyungran/pluse-icon-set.png") no-repeat 0px 0px;
}
.FAQ-box .FAQ .plus-icon:hover {
  background: url("../images/kyungran/pluse-icon-set.png") no-repeat bottom;
}
.FAQ-box .FAQ .FAQ-small-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0px 45px 20px 46px;
  font-size: 22px;
  color: #3b3b3b;
  border-radius: 0px 0px 10px 10px;
  background-color: #fafafa;
  line-height: 59px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.FAQ-box .FAQ .FAQ-small-box li:nth-last-child(1) {
  border-bottom: none;
}
.FAQ-box .FAQ .FAQ-small-box li {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  border-bottom: 1px solid #ddd;
  padding: 9px;
}
