@charset "utf-8";
/* 민주 */
.inner {
  max-width: 1400px;
  margin: 0 auto;
}
.section4 .nanumsns-swiper .swiper-button-next::after {
  display: none;
}
.section4 .nanumsns-swiper .swiper-button-prev::after {
  display: none;
}
.section4 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  position: relative;
}
.section4 h1 {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}
.section4 .nanumsns-swiper {
  width: 100%;
}
.section4-sns {
  display: none;
}
.section6 {
  width: 100%;
  margin: 0 auto;
}
.section6 img {
  width: 100%;
}
.takejoin{
  display: none;
}
/* ===================================================== */
/* 푸터 */
footer {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background-color: #333;
  color: #fff;
  clear: both;
}
footer .right {
  float: left;
  margin: 30px;
  padding: 20px;
}
footer .right h1 {
  padding: 20px;

  font-family: "UhBeeSe_hyun";
  font-size: 3vw;
  text-align: left;
  color: #fff;
}
footer .right h1 span {
  font-family: "UhBeeSe_hyun";
  font-size: 3vw;
  text-align: left;
  color: #ffffff79;
}

footer .right p {
  line-height: 1.5;
  text-align: left;
}
footer .left {
  float: right;
  margin: 30px;
  margin-top: 5%;
}
footer .left .tell {
  display: block;
  font-size: 3vw;
  text-align: right;
  font-family: "KBO-Dia-Gothic_medium";
}
footer .left button {
  width: 130px;
  height: 50px;
  margin: 20px 5px;
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
}
footer .line {
  display: none;
}
/* ================================================ */
/* flying baneer */
/* top 버튼 */
.top-button {
  position: fixed;
  right: 30px;
  top: 100px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.top-button .chat-btn {
  animation: updown 1.5s infinite;
  /* -webkit-animation:updown 1.5s infinite; */
  /* 다른 브라우저에서도 작동 될 수 있게 하기 위해 -webkit을 사용. */
}
/* 애내메이션 효과 */
@keyframes updown {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-10%);
  }
  100% {
    transform: translatey(0);
  }
}
/* =================================================== */
/* 참여하기 */
.takejoin {
  width: 100%;
  position: fixed;
  background-color: #fff;
  bottom: 0px;
  transition: top 0.3s ease-in-out;
}
.takejoin .heart {
  width: 80%;
  height: 100px;
  background-color: #ff4949;
  color: #fff;
  border: none;
  font-size: 2vw;
}
/* =================================================== */
/* 반응형 */
@media screen and (max-width: 859px) {
  footer {
    height: 500px;
    width: 100%;
  }
  footer .right h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 5vw;
    text-align: left;
    padding: 20px;
  }
  footer .right h1 span {
    font-family: "UhBeeSe_hyun";
    font-size: 5vw;
    text-align: left;
    color: #ffffff79;
  }
  footer .left {
    float: left;
  }
  footer .left .tell {
    display: block;
    font-size: 5vw;
    text-align: left;
  }
  footer .left button {
    width: 130px;
    height: 50px;
    margin: 20px 5px;
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
  }
  footer .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10%;
  }
  .section6 img {
    width: 100%;
  }
}
/* ===================================================== */
@media screen and (max-width: 768px) {
  .section4 {
    display: none;
  }

  .section4-sns {
    display: block;
    margin-top: 15%;
  }
  .section4-sns h1{
    font-size: 4vw;
    font-weight: bold;
  }
  .snsnanum {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10%;
  }
  .snsnanum img {
    width: 40%;
    padding: 2%;
  }
  footer {
    height: 450px;
    width: 100%;
  }
  footer .right h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 5vw;
    text-align: left;
    padding: 20px;
  }
  footer .right h1 span {
    font-family: "UhBeeSe_hyun";
    font-size: 5vw;
    text-align: left;
    color: #ffffff79;
  }
  footer .left {
    float: left;
    margin: 8%;
    margin-top: -3%;
  }
  footer .left .tell {
    display: block;
    font-size: 5vw;
    text-align: left;
  }
}
footer .left button {
  width: 130px;
  height: 50px;
  margin: 20px 5px;
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
}
footer .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 10%;
  margin: 50 auto;
}
/* ==================================================== */
@media screen and (max-width: 480px) {
  /* 참여하기 */
  .snsnanum {
    margin-top: -15%;
  }
  .takejoin {
    display: block;
    z-index: 99999;
    width: 100%;
    position: fixed;
    background-color: #fff;
    bottom: 0px;
    transition: top 0.3s ease-in-out;
  }
  .takejoin .heart {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #134aa9;
    color: #fff;
    border: none;
    font-size: 5vw;
  }
  footer .right h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 8vw;
    text-align: center;
  }
  footer .right h1 span {
    font-family: "UhBeeSe_hyun";
    font-size: 8vw;
    text-align: left;
    color: #ffffff79;
  }
  footer .left button {
    width: 130px;
    height: 50px;
    margin-top: 20px;
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
  }
  footer .right p {
    line-height: 1.5;
    font-size: 13px;
  }
  footer .left {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  footer .left .tell {
    font-size: 8vw;
    text-align: center;
  }
  .section6 img {
    width: 100%;
  }
}
/* ==================================================== */
@media screen and (max-width: 320px) {
  .snsnanum {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
  }
  .snsnanum img {
    width: 50%;
    padding: 2%;
  }
  .section4 {
    width: 100%;
    height: 100px;
  }
  .section4 .snstext h1 {
    font-size: 8vw;
    font-weight: 800;
  }
  footer {
    width: 100%;
    height: 410px;
  }
  footer .right h1 {
    font-family: "UhBeeSe_hyun";
    font-size: 8vw;
    text-align: center;
  }
  footer .right h1 span {
    font-family: "UhBeeSe_hyun";
    font-size: 8vw;
    text-align: left;
    color: #ffffff79;
  }
  footer .left button {
    width: 130px;
    height: 50px;
    margin-top: 20px;
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
  }
  footer .right p {
    line-height: 1.5;
    font-size: 13px;
  }
  footer .left {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  footer .left .tell {
    font-size: 8vw;
    text-align: center;
  }
  footer .line {
    width: 250px;
    height: 2px;
    background-color: #fff;
    margin-top: 10%;
  }
}
