@charset "utf-8";
/* 폰트 */
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KBO-Dia-Gothic_light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
}
/* 공통 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-family: "KBO-Dia-Gothic_light", sans-serif;
  font-size: 16px;

  /* padding: 25px; */
  background-color: #ffff;
  color: #333;
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 기타
(컬러)
대표색
파랑 #134AA9
보조색
밝은 파랑 #1E6BF1
연한 하늘색 #F0F4FF
푸터색 #3333
*/

/* =======================================================승아 */
/* 상당로고 이미지 */
header img {
  width: 180px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
}

/* 상단메뉴 박스 */
nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: rgba(0,0,0,0.1); */
  padding: 30px;
  position: fixed;
  display: block;
  z-index: 9999;
}
/* 상단메뉴 */
.top-menu {
  /* right: 4%; */
  display: flex;
  justify-content: center;
  color: #134aa9;
  gap: 6%;
  font-size: 18px;
}
.top-menu li a {
  font-family: "KBO-Dia-Gothic_medium";
  white-space: nowrap;
  color: #134aa9;
}
.top-menu li:nth-child(5) {
  margin-left: 8%;
}
/* 메뉴-log */
.log {
  font-size: 16px;
  display: flex;
  gap: 20px;
  position: absolute;
  right: 4%;
}
.visual{
  position: relative;
}
.visual img {
  /* display: block; */
  width: 100%;
  height: auto;
}
/* 카운터 */
.counter-wrapper {
  width: 100%;
  height: 150px;
  /* position: absolute; */
  /* bottom: 10px; */
  background-color: #f0f4ff;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 20%;
padding: 20px;
}
.counter {
  padding: 20px;
  font-family: "KBO-Dia-Gothic_medium";
}
.count-title {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  display: inline;
}
.plus{
  display: inline;
  /* color: yellow; */
}
.count-text {
  font-size: 16px;
  margin-top: 30px;
}
/* 섹션1-서비스 */
.section1{
  width:100%;
  height: 1032px;
  background-color: #134aa9;
  position: relative;
}
.section1-text{
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
/* .mobile-imgbox{
  width: 100%;
  position: relative;
}
.mobile-bg{
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
} */

