@charset "utf-8";
/* 폰트 */
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KBO-Dia-Gothic_light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff") format("woff");
}
@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
}
/* 공통 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;

}
body {
  font-family: "KBO-Dia-Gothic_light", sans-serif;
  font-size: 16px;

}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* 기타
(컬러)
대표색
파랑 #134AA9
보조색
밝은 파랑 #1E6BF1
연한 하늘색 #F0F4FF
푸터색 #3333
*/

/* =======================================================승아 */
/* 상단하단 바디내용 확인 */
body {
  padding: 25px;
  background-color: #ffff;
  color: #333;
  text-align: center;
}
